.postCard {
    display: flex;
    flex-direction: column;
    max-width: 800px;

    .headerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .controlPanel {
            display: flex;
        }
    }
}