.postButtonsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;

    .buttonsSection {
        display: flex;
    }

    .buttonIcon {
        font-size: 1.1rem;
    }

    .likeButtonActive {
        color: pink;
    }

    .commentButtonActive {
        color: #1677ff;
    }
}