.commentCard {
    width: 80%;
    max-width: 550px;

    .commentHeader {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 2rem;
        min-height: 2rem;
    }

    .divider {
        margin: 0.5rem 0 0.5rem 0;
    }

    .name {
        font-weight: bold;
        font-size: 0.8rem;
    }

    .email {
        font-style: italic;
        font-size: 0.75rem;
    }

    .vertical {
        display: flex;
        flex-direction: column;
    }
}